<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link rel="stylesheet" href="/Content/Style.css" />
        <title>yourpics</title>
        <script>
            //function to close the photo view
            function closePhotoView() {
                var closePhotoViewButton = document.getElementById("closePhotoViewButton");
                var photoViewContainer = document.getElementById("photoViewContainer");
                var overlay = document.getElementById("overlay");
                closePhotoViewButton.style.display = "none";
                photoViewContainer.style.display = "none";
                overlay.style.display = "none";
            }
            //ShowImage Function to show the Photo in a popup on click
            function ShowImage(image) {
                var closePhotoViewButton = document.getElementById("closePhotoViewButton");
                var photoViewContainer = document.getElementById("photoViewContainer");
                var overlay = document.getElementById("overlay");
                photoViewContainer.style.display = "none";
                overlay.style.display = "none";
                closePhotoViewButton.style.display = "none";
                var imageSource = image["src"];
                var photoViewImage = document.getElementById("photoViewImage");
                photoViewImage.src = imageSource;

                if (photoViewContainer.style.display === "none" && overlay.style.display === "none" && closePhotoViewButton.style.display === "none") {
                    overlay.style.display = "block";
                    photoViewContainer.style.display = "block";
                    closePhotoViewButton.style.display = "block";
                } else {
                    photoViewContainer.style.display = "none";
                    overlay.style.display = "none";
                    closePhotoViewButton.style.display = "none";
                }
            }
        </script>
    </head>
    <body>
        <div id="overlay"></div>
        <!--NAV BAR  COMPONENT START-->
        <nav>
            <div id="logo">yourpics</div>
            <div id="searchContainer">
                <input id="search" type="text" />
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" color="gray">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
            </div>
            <div id="navMenu">
                <div><a href="HomePage.html">Home</a></div>
                <div><a href="SignUpPage.html">SignUp</a></div>
                <div>About</div>
            </div>
        </nav>
        <!--NAV BAR  COMPONENT END-->
        <!--HOME PAGE BANNER COMPONENT START-->
        <div id="bannerContainer">
            <div id="bannerText">
                <h1 id="bannerTextHeading">yourpics.</h1>
                <div>
                    <code>Your art.</code><br />
                    <code>For the world.</code>
                </div>
            </div>
            <div id="bannerImageCredits">
                <p style="margin: 0">Image contributed by <b>Naleen</b></p>
            </div>
            <!--<img
                id="bannerImage"
                src="/images/Photos-001/IMG_6215.JPG"
                alt=""
            />-->
        </div>
        <!--HOME PAGE BANNER COMPONENT END-->
        <!--HOME PAGE FEED COMPONENT START-->
        <div id="feedContainer">
            <div id="feedColumn">
                <div class="imageContainer">
                    <img src="../images/img10.jpeg" alt="" class="image" onclick="ShowImage(this)" />
                </div>
                <div class="imageContainer">
                    <img src="../images/img8.jpeg" alt="" class="image" onclick="ShowImage(this)" />
                </div>
            </div>
            <div id="feedColumn">
                <div class="imageContainer">
                    <img src="../images/img5.jpeg" alt="" class="image" onclick="ShowImage(this)" />
                </div>
                <div class="imageContainer">
                    <img src="../images/img11.jpeg" alt="" class="image" onclick="ShowImage(this)" />
                </div>
                <div class="imageContainer">
                    <img src="../images/img8.jpeg" alt="" class="image" onclick="ShowImage(this)" />
                </div>
            </div>
            <div id="feedColumn">
                <div class="imageContainer">
                    <img src="../images/img8.jpeg" alt="" class="image" onclick="ShowImage(this)" />
                </div>
                <div class="imageContainer">
                    <img src="../images/img6.jpeg" alt="" class="image" onclick="ShowImage(this)" />
                </div>
            </div>
        </div>
        <!--HOME PAGE FEED COMPONENT END-->
        <!--PHOTO VIEW COMPONENT START-->
        <div id="photoViewContainer">
            <div id="photoViewTopBar">
                <div id="userDetails">
                    <div id="userProfilePicture"></div>
                    <div>User12345</div>
                </div>
                <div id="closePhotoViewButton" onclick="closePhotoView()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" color="black" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                    </svg>
                </div>
            </div>
            <div id="photoViewImageContainer">
                <img src="" alt="" class="image" id="photoViewImage" />
            </div>
            <div></div>
        </div>
        <!--PHOTO VIEW COMPONENT END-->
    </body>
</html>
