body {
    font-family: "Poppins";
    margin: 0;
}
textarea:focus,
input:focus {
    outline: none;
}
#overlay {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 50%;
    width: 102vw;
    height: 102vh;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    z-index: 10000;
}
a {
    text-decoration: none;
    color: inherit;
}
#imageContainer:hover {
    cursor: pointer;
}

/*NavBar CSS Start*/
nav {
    margin: 10px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
}
#navMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#navMenu > div {
    margin: 0px 2px 0px 2px;
    color: black;
    border: 1px solid black;
    padding: 5px 8px;
    font-weight: 400;
}
#logo {
    font-size: xx-large;
    font-weight: 600;
}
#searchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin: 0px 30px 0px 30px;
    background-color: lightgrey;
    padding: 8px 15px;
    border-radius: 50px;
    width: 100%;
}
#search {
    border: none;
    background-color: lightgrey;
    height: 100%;
    width: 100%;
    font-size: medium;
    font-weight: 400;
}
/*NavBar CSS End*/
/*Home Page Banner CSS Start*/
#bannerContainer {
    position: relative;
    width: 100%;
    margin-top: 30px;
    height: 400px;
    background-image: url(../images/img4.JPG);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
#bannerImage {
    width: 100%;
}
#bannerText {
    padding-top: 10%;
    padding-left: 10%;
}
#bannerTextHeading {
    margin: 0;
}
#bannerImageCredits {
    position: absolute;
    bottom: 0;
    margin-left: 5px;
    margin-bottom: 5px;
    color: gray;
    font-size: small;
}
/*Home Page Banner CSS End*/
/*Home Page Feed CSS Start*/
#feedContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px 0px 100px 0px;
}
#feedColumn {
    display: flex;
    flex-direction: column;
    width: 30%;
}
#imageContainer {
    margin-bottom: 5px;
    width: 100%;
}
.image {
    width: 100%;
}
/*Home Page Feed CSS End*/
/*Photo View CSS Start*/
#photoViewContainer {
    display: none;
    position: fixed;
    background-color: white;
    top: 50%;
    left: 50%;
    width: 70%;
    padding: 30px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    z-index: 10000;
}
#photoViewImageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    width: 100%;
}
#photoViewTopBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 20px 10px;
}
#userDetails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#userProfilePicture {
    width: 45px;
    height: 45px;
    background-color: gray;
    border-radius: 50px;
    margin-right: 10px;
}
#photoViewImage {
    max-height: 70vh;
    max-width: fit-content;
    height: fit-content;
}
/*Photo View CSS End*/
